body {
  font-family: verdana;
  background-color: black;
}

.header{
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.link , h5 {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}
